/* You can add global styles to this file, and also import other style files */

html, body { 
    background-image: url('./assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family:'Courier New', Courier, monospace ;
 }
body { margin: 0; }
